@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  --royalblue: hsl(252, 100%, 67%, 1);
  --slateblue: hsl(241, 81%, 54%, 1);
  --violetblue: hsla(256, 72%, 46%, 1);
  --persianblue: hsla(241, 72%, 46%, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Hanken Grotesk";
}

.container1 {
  background: linear-gradient(var(--royalblue), var(--slateblue));
  width: 100%;
  height: 35vh;
  display: flex;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  align-items: center;
  flex-direction: column;
}

.container2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results100 {
  background: linear-gradient(var(--violetblue), var(--persianblue));
  height: 130px;
  width: 130px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 30px;
}

.score-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: green;
  width: 80%;
  border-radius: 5px;
  margin: 5px;
  height: 5vh;
}

.score-container p {
  margin: 10px;
}

.summary {
  width: 100%;
}

.summary p {
  margin: 10px;
}
