@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  --royalblue: hsl(252, 100%, 54%, 1);
  --slateblue: hsl(241, 81%, 67%, 1);
  --violetblue: hsla(256, 72%, 46%, 1);
  --persianblue: hsla(241, 72%, 46%, 0.8);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Hanken Grotesk";
}

/* Main containers  */
.container1 {
  background: linear-gradient(var(--slateblue), var(--slateblue));
  width: 100%;
  display: flex;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  align-items: center;
  flex-direction: column;
}

.container2 {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

/* Results containers */

.results100 {
  background: linear-gradient(var(--violetblue), var(--persianblue));
  height: 130px;
  width: 130px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 30px;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  margin: 10px;
  height: 60px;
}

.score-container p {
  color: hsl(224, 30%, 27%, 1);
  display: flex;
  gap: 10px;
}

.score-span {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.bold-score {
  font-weight: 900;
}

/* Summary text */
.summary {
  width: 80%;
}

.summary p {
  margin: 10px;
}

/* Continue button */

.continue-button {
  background: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%, 0.9);
  font-size: 16px;
  border-radius: 7em;
  font-weight: 600;
  width: 80%;
  height: 50px;
}

.great {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-break: loose;
}

.continue-button:hover {
  background: linear-gradient(var(--slateblue), var(--royalblue));
}

@media only screen and (min-width: 1080px) {
  .container1 {
    width: 22em;
    height: 30em;
    border-radius: 20px;
    justify-content: flex-start;
  }

  section {
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .container2 {
    flex-direction: column;
    width: 22em;
    height: 30em;
    position: relative;
    border-radius: 20px;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 3px 25px 1px hsl(241, 100%, 89%);
  }

  .results100 {
    height: 12em;
    width: 12em;
    margin: 0;
  }

  .summary {
    font-weight: 800;
    font-size: 30px;
  }

  .results100 h2 {
    font-size: 5em !important;
  }

  .your-result {
    font-size: 30px;
  }

  .great {
    font-size: 20px;
    margin-top: 50px;
  }

  .great h2 {
    font-size: xx-large;
    font-weight: 500;
  }

  .great p {
    font-size: large;
    text-align: center;
    line-break: auto;
  }

  .continue-button {
    margin-top: 30px;
    height: 3.5em;
  }

  .attribution a {
    font-size: x-large;
  }
}
